.search-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  gap: 10px;
}

.search-container input {
  min-width: 250px;
  padding: 10px;
}

.search-container input:focus {
  outline: 0;
}

.search-container button {
  padding: 10px 15px;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.filter-btn {
  border: 2px dashed gray;
  cursor: pointer;
  padding: 20px 15px;
  border-radius: 8px;
}
